<!-- Footer  -->
<div class="container-fluid" style="margin-top: 40px">
    <div class="row footer">
        <div class="col-md-4 padding">
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <h3>Services</h3>
                </div>
            </div>
            <div class="row services-footer">
                <ul class="services">
                    <li class="">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <li class="">
                        <a class="nav-link" routerLink="/ourservices" routerLinkActive="active">Our Services</a>
                    </li>

                    <li class="">
                        <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About Us
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-4 padding">
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <h3>Location</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <iframe class="text-center"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d484586.8872770159!2d73.5843906169238!3d18.40035659404762!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2f719dabbba67%3A0x23e51883334602c3!2sNamrata%20Enterprises!5e0!3m2!1sen!2sin!4v1634666725330!5m2!1sen!2sin"
                        width="100%" style="border: 0" allowfullscreen="true" loading="lazy"></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-4 padding">
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <h3>Connect with Us</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-section links" style="text-align: center">
                        <br />
                        <div class="socials">
                            <a href="https://www.facebook.com/" style="color: #3b5998"><i
                                    class="fa fa-facebook-square"></i></a>
                            <a href="https://www.instagram.com/" style="color: #f77737"><i
                                    class="fab fa-instagram insta-logo"></i></a>
                            <a href="https://www.linkedin.com/" style="color: #0e76a8"><i
                                    class="fab fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row footer-bottom">
        <div class="col-md-12 text-center">
            <h6 class="footer-company-name">
                All Rights Reserved &copy; {{ year }} Namrata Enterprises.
            </h6>
        </div>
    </div>
</div>